@import './variables.module.scss';

root {
  --max-width: 1100px;
  --border-radius: 12px;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

body {
	margin: 0;
	overflow: auto;
	font-family: 'Inter', sans-serif;
	height: 100%;
	width: 100%;
  }

@media (prefers-color-scheme: dark) {
 
body {
  margin: 0;
  overflow: auto;
  font-family: 'Inter', sans-serif;
  height: 100%;
  width: 100%;
}
}

:root {
	--rsbs-backdrop-bg: rgba(0, 0, 0, 0.6);
	--rsbs-bg: #fff;
	--rsbs-handle-bg: hsla(0, 0%, 0%, 0.01);
	--rsbs-max-w: auto;
	--rsbs-ml: env(safe-area-inset-left);
	--rsbs-mr: env(safe-area-inset-right);
	--rsbs-overlay-rounded: 5px;
  }
	