$dark: #0F1319;
$dark-hover: #1b232e;
$semi-dark: #1E232D;
$semi-dark-hover: #282f3c;
$grey: #59606E;
$grey-highlight: #626979;
$accent: #5ADF92;
$accent-highlight: #67ffa6;
$off-white: #bbbbbb;
$off-white-highlight: #ededed;



:export {
  dark: $dark;
  semiDark: $semi-dark;
  accent: $accent;
}