@import '@/app/variables.module.scss';

.info-popup-container{
    color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    height: 100%;
    width: 300px;
    background-color: $dark;
    z-index: 1000;
    overflow-y: "auto";
    padding: 1rem;
}

.travel-info-container{
    overflow-y: auto;
}

.close-icon {
    position: absolute;
    top: 8px;
    right: 8px;
    size: 20px;
    cursor: pointer;

    &:hover {
      color: $accent;
    }
  }

.error-message {
    color: red;
    font-weight: bold;
  }

.header{
    margin: 0;
}

.divider{
    width: 100%;
    height: 3px;
    background-color: $semi-dark;
    margin: 1rem 0;
}

.divider-small{
    width: 100%;
    height: 3px;
    background-color: $semi-dark;
    margin: 0.5rem 0 0.5rem 0;
}

.city{
    font-weight: 900;
    font-size: 2.5rem;
    color: white;
    margin: 0;
}

.street{
    font-size: 1rem;
    color: $grey;
    margin: 0;
    font-weight: 400;
}

.time-between-leg{
    color: $grey;
}

.loaded-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
 