@import "@/app/variables.module.scss";

.overlay-controls {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
}

.adjust-interval-control {
  width: 300px;
  background: $dark;
  color: white;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin: 0;
  text-align: center;
}

.separator {
  width: 100%;
  height: 1px;
  background-color: $grey;
  margin: 10px 0;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.control-button {
  background-color: $grey;
  border: none;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  font-size: 18px;
  padding: 6px 10px;
  margin: 0 10px;
}

.interval-limits {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  margin: 0 10px;
}

.interval-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.color-line {
  height: 2px;
  width: 20px;
  margin-bottom: 5px;
}
