@import '@/app/variables.module.scss';

.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip-text {
  position: absolute;
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  z-index: 1;

  opacity: 0;
  transition: opacity 0.2s, transform 0.2s;
  
  // Customization
  background-color: $dark;
  color: white;
  margin: 10px;
}

.tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.tooltip-text.bottom {
  transform: translate(-50%, 20px); // Position for bottom
}

.tooltip-text.top {
  transform: translate(-50%, -100%); // Position for top
}

// Define the fadein animation
@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
