@import '@/app/variables.module.scss';

.travel-time-container{

    color: white;
    background-color: $semi-dark;
    padding: 0.75rem;
}

.label{
    font-size: 0.8rem;
    font-weight: 800;
    color: $grey;
}

.time{
    margin-top: 0.25rem;
    font-weight: 800;
    font-size: 30px;
}